@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-list {
  padding-bottom: 90px;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  bottom: 0px;
  left: calc(43% + 1px);
  background-color: #fff;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  bottom: 0;
  right: calc(43% + 1px);
  background-color: #fff;
}

.react-multiple-carousel__arrow::before {
  background-color: #fff !important;
  color: #0e71b8;
  font-size: 43px;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.carouselMoises button{
  display: none;
}
.schedule button {
  display: none;
}