@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face { */
/*   font-family: "Gotham"; */
/*   /* src: "./fonts/GothamBlack.otf"; */ */
/*   src:"../public/fonts/GothamBlack.otf"; */
/*   font-weight: 900; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-BlackItalic.otf"; */
/*   font-weight: 900; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Bold.otf"; */
/*   font-weight: bold; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-BoldItalic.otf"; */
/*   font-weight: bold; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Book.otf"; */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-BookItalic.otf"; */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Light.otf"; */
/*   font-weight: 300; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-LightItalic.otf"; */
/*   font-weight: 300; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Medium.otf"; */
/*   font-weight: 500; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-MediumItalic.otf"; */
/*   font-weight: 500; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Thin.otf"; */
/*   font-weight: 100; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-ThinItalic.otf"; */
/*   font-weight: 100; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-Ultra.otf"; */
/*   font-weight: 800; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-UltraItalic.otf"; */
/*   font-weight: 800; */
/*   font-style: italic; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-XLight.otf"; */
/*   font-weight: 200; */
/*   font-style: normal; */
/* } */
/**/
/* @font-face { */
/*   font-family: "Gotham"; */
/*   src: "../public/fonts/Gotham-XLightItalic.otf"; */
/*   font-weight: 200; */
/*   font-style: italic; */
/* } */

.react-multi-carousel-list {
  padding-bottom: 90px;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  bottom: 0px;
  left: calc(43% + 1px);
  background-color: #fff;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  bottom: 0;
  right: calc(43% + 1px);
  background-color: #fff;
}

.react-multiple-carousel__arrow::before {
  background-color: #fff !important;
  color: #0e71b8;
  font-size: 43px;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
